<h1><%= @artist.first_name + ' ' + @artist.last_name %></h1>
<h3><%= @artist.nationality %></h3>
<h3><%= @artist.period %></h3>
<h4><%= @artist.date_of_birth %></h4>

<%= link_to 'Back to Artists', artists_path %>
